<div class="page-header">
    <h1>Choose a game</h1>
</div>

<section class="row">
    <% @games.each do |game|%>
        <article class="col">
            <div class="menu-image menu-game">
                <h2 class="article-header"><%=game.name%></h2>
                <%= link_to image_tag(game.image, class: "img-responsive"), game_path(game), method: :get%>
            </div>
            <% unless game.players.nil? %>
                <article class="col">
                    <div class="menu-image menu-game">
                        <h2 class="article-header">Rankings</h2>
                        <% game.players.each do |player|%>
                            <h1 class="scores page-header"><%= player.name %>: <%= player.score%>s</h1>
                        <%end%>
                    </div>
                </article>
            <%end%>
        </article>
    <%end%>
</section>     


        