<nav>
    <ul class="navbar-custom">
        <%= link_to "Home", root_path%>
        <%= link_to "Games", games_path%>
        <%= link_to "Contact", contact_path%>
        <h1><%= link_to "Where's Waldo", root_path%></h1>
    </ul>
</nav>
    